body{
  background: linear-gradient(135deg, #f0f3f5, #e8eef2);
  font-family:'Times New Roman';
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container{
  display: flex;
  flex-direction: row;
  width: 80vw ;
  height: 80vh;
  background: rgb(51, 51, 51);
  border-radius: 3vh;
  box-shadow: 0 1vh 2.5vh rgba(0,0,0,0.1);;
}

.square{
  display: flex;
  flex-direction:column;
  width: 68vw;
  height: 100%;
  background: rgb(27, 27, 27);
  border-radius: 3vh;
  box-shadow: 0 1vh 2.5vh rgba(0,0,0,0.1);;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.profilbildcontainer{
  display: relative;
  flex-direction: column;
  width: 25vw;
  height: 100%;
  background: rgb(51, 51, 51);
  border-radius: 3vh;
  box-shadow: 0 1vh 2.5vh rgba(0, 0, 0, 0.1);;
  text-align: center;
}

.profilbild{
  display: flex;
  width: 12vw;
  height: 12vw;
  border: 0.3vh solid white;
  border-radius: 50%;
  margin: 10vh auto;
  object-fit: cover;
  justify-content: center;
  overflow: hidden;
}

.square h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  font-size:4vh;
}

.profilbildcontainer h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  font-size: 3vh;
  margin-top: -4vh;
}

.profilbildcontainer p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lightgrey;
  margin-top: -1vh;
}

.icons{
  color: white;
  font-size: 2.5vh;
  margin-top: 2vh;
  word-spacing: 1vw;
  
}

.button-open{
  width: 45%;
  height: 5vh;
  align-self: center;
  margin-top: 6vh;
  background-color: rgb(51, 51, 51);
  border-radius: 3vh;
  border: 0.1vh solid white;
  box-shadow: 0vh 0.5vh 0.3vh -0.2vh rgb(26, 25, 25);

  font-size: 2vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;

  cursor: pointer;
}

.button-open:hover{
  background-color: grey;
}

.pop-up {
  display: block;
  opacity: 0; /*unsichtbar*/
  pointer-events: none;
  position: absolute;
  bottom: 12%;
  left: 20.83%;
  transform: translate(-50%);
  background-color: rgb(27, 27, 27);
  height: 25vh;
  width: 20vw;
  border-radius: 3vh;
  box-shadow: 0 0 1vh rgb(119, 116, 116);
  z-index: 10; /*vordergrund layer*/
  text-align: left;
  font-size: 120%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 3vh; /*abstand rand*/
  padding-left: 1vh;
  box-sizing: border-box; /*sonst wird box einf größer von padding*/
  transition: opacity 0.3s ease;
}

.pop-up.show{
  display: block;
  pointer-events: auto;
  opacity: 1;
}

.pop-up .button-close{
  position: absolute;
  height: 3vh;
  width: 5vw;
  top: 80%;
  right: 26%;
  transform: translate(-50%);
  background-color: rgb(233, 223, 223);
  border: 0.1vh solid whitesmoke;
  border-radius: 3vh;
  cursor: pointer;
  box-shadow: 0vh 0.5vh 0.3vh -0.2vh rgb(0, 0, 0);
}

.button-close:hover{
  background-color: grey;
}

.profilbildcontainer a{
  color: white;
  text-decoration: none;
}
